@import './AdminCategories.css';

.admin-form-group select {
  cursor: pointer;
}

.admin-form-group.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0;
}
